<body>
    <div class="container">
        <form class="login-form">
            <h2>Bienvenido</h2>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" (click)="login()">Iniciar sesión</button>
        </form>
    </div>
</body>















































<!-- <section>
  <div class="form-box">
    <div class="form-value">
      <form>
        <h2 style="color: #333A56 #333A56;">Ingreso</h2>

        <div class="inputbox">
          <i class="fa-regular fa-envelope icon" style="color: #1ECFD6;"></i>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
          <label for="email">Email</label>
        </div>

        <div class="inputbox">
          <i class="fa-solid fa-lock icon" style="color: #333A56;"></i>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
          <label for="password">Password</label>
        </div>

        <div class="forget">
          <label>
            <input type="checkbox" name="remember" id="remember">
            <span style="color: #52658F;">recordarme </span>
            <a href="#" style="color: #333A56;">olvidé el password</a>
          </label>
        </div>

        <button  style="background-color: #52658F" (click)="login()">Log in</button>

        <div class="register" style="color: #52658F;">
          <p>
            no tiene cuenta?
            <a href="#" style="color: #333A56;">contactese</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
 -->
